{% for node in groups["worker_group"] %}
{{node}} worker-node-{{ lookup('ansible.utils.index_of', groups["worker_group"], 'eq', node) + 1 }}
{% endfor %}
{% for node in groups["storage_group"] %}
{{node}} storage-node
{% endfor %}
{% for node in groups["mgmt_group"] %}
{{node}} mgmt-node
{% endfor %}