spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.executor.cores 2
spark.executor.memory 12g
spark.executor.instances {{ 2 * groups['workergroup'] | length}}
spark.master yarn
